.header-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.about-body-1{
  padding: 0 10%;
  font-size: 18px;
  font-weight: 100;
  width: 75%;
  text-align: justify;
  overflow-wrap: break-word;
  float:left;
  margin-left: 40px;
  letter-spacing: 0.06rem;
  margin: 30px 0 30px 0;
}

.about-title h1{
  font-size: 64px;
  letter-spacing: 0.2rem;
  line-height: 1.75;
}

.personal-social {
  font-size: 18px;
  padding:20px;
}

.group-social{
  display: flex;
  // justify-content: center;
  flex-direction: row;
  flex-grow: 3;
}