.header-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // overflow: hidden;
  
}

.button-tooltip {
  display: none;
}

.button-tooltip:hover {
  display: block
}

.about-body-1{
  padding: 0 10%;
  font-size: 18px;
  font-weight: 200;
  width: 75%;
  text-align: justify;
  overflow-wrap: break-word;
  float:left;
  margin-left: 40px;
  letter-spacing: 0.06rem;
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  max-width: 700px;
  min-width: 300px;
  overflow: hidden;
}

.about-body-1 p{
  font-size: 18px;
  font-weight: 200;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: justify;
  // max-width: 40vw;
  // text-align:center; 
  // vertical-align: middle;
  // display: table-cell;
}
.about-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-size-adjust: none;
}

.about-title h1{
  font-size: 64px;
  letter-spacing: 0.2rem;
  line-height: 1.75;
  overflow: hidden;
  text-size-adjust: none;
}

.personal-social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding:20px;
}

.social-logo{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 150px;
}

.social-logo img:hover {
transform: scale(1.1);
}


.ln-pic img{
  // max-height: 64px;
  margin-top: 20px;
  // margin-right: 20px;
  height: 50px;
  // size: 50%;
}

.git-pic img{
  // max-height: 64px;
  height: 50px;
  margin-top: 20px;
  
  // size: 50%;
}

.group-social{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 3;
  overflow: scroll;
  overflow: hidden;
  width: 1000px;
}

.profile-pic img{
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-top: 20px;

}