@import 'color_palette.scss';

button {
  font-weight: 600;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  border: 0px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.components {
  display: block;
  margin-top: 100px;
}

body {
  font-family: sans-serif;
  // background-color: black;
}
