@import 'color_palette.scss';

.player-lineup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  // position: relative;
}

.player-lineup-hand {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  max-width: 870px;
  // position: relative;
  overflow: auto;
  overflow-y: hidden;
  height: 200px;
  padding-left: 5px;
  padding-bottom: 5px;
  z-index: 0;
  // padding-right: 5px;
}

.show-modal {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.show-modal h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.winning-card h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  display: block;
}

.winning-card {
  max-width: 300px;
  width: 100%;
  height: 150px;
  padding: 0px;
  margin: 0px;
}


#inner-win-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-bottom: 100px;
}

#game-info {
  overflow: auto;
  overflow-y: hidden;
  max-width: 800px;
  max-height: 140px;
}

.hand-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.421);
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

#judging-overlay {
  background-color: black;
  border-radius: 0px;
  padding: 80px 210px 80px 210px;
  font-weight: 600;
  font-size: 40px;
  margin-left: -25px;
  min-width: 450px;
}

.endbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.player-card {
  width: 150px;
  height: 50px;
  padding-top: 25px;
  margin: 10px;
  background-color: rgb(141, 133, 133);
  text-align: center;
}

.end-score{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.end-screen{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#scores {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.scorecard {
  width: 150px;
  margin: 0 10px 10px 10px;
  min-width: 150px;
}

.board-container {
  margin: 0 auto;
  align-items: center;
  justify-content: safe center;
  text-align: center;
  width: 80vw;
  // max-width: 950px;
}

#scores {
  margin-bottom: 30px;
}

.topwrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.board-container h1 {
  font-size: 70px;
  
}

.board-container h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}

.board-container header {
  margin-bottom: 20px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.board-container span {
  font-weight: 800px;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: -5px;
}

.categories{
  display: flex;
}

#categories {
    margin-top: -10px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  // margin-right: 40px;
  // min-width: 500px;
}

// #categories button{
//   display: block;
//   justify-content: center;
//   align-items: center;
//   background-color: green;
  
// }

.winner-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  // width: 350px;
}

#show-wrap {
  display: flex;
}

.player-hand {
  margin-top: 20px;
}

.player-hand h4 {
  display: block;
  margin-left: -15px;
  font-size: 18px;
  font-weight: bold;
}

.player-hand-show h2 {
  margin-left: -25px;
}

.the-card {
  margin: 10px 10px 0px 0px;
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 5px 5px 30px;
  border-radius: 5px;
  position: relative;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  transition: margin 0.2s, top 0.2s, width 0.2s, height 0.2s;
}

.the-card p {
  color: black;
  font-size: 15px;
}

.the-card:hover {
  margin: -5px 5px 0px -5px;
  // margin-left: -5px;
  // margin-right: 5px;
  // margin-top: -10px;
  width: 160px;
  height: 160px;
  top: 10px;
  transition: margin 0.2s, top 0.2s, width 0.2s, height 0.2s;
}

.the-card img:hover {
  width: 160px;
  height: 160px;
  transition: width 0.2s, height 0.2s;
}

.the-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: relative;
  transition: width 0.2s, height 0.2s;
}

#select-wrap {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  
}

#cat-info {
  flex: 2;
  margin-right: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#select {
  flex: 1;
  background-color: #f5f5f5;
  padding: 5px 5px 30px;
  border-radius: 5px;
  margin-right: 20px;
  height: 150px;
  display: inline-block;
}

#select h2, .the-card h2 {
  color: black;
  font-size: 15px;
  display: block;
}

#select h3, .the-card h3 {
  color: black;
}

#select img {
  height: 150px;
  width: 300px;
  object-fit: cover;
}

.show-modal{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal-player{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: 3, 1fr;
  gap: 10px;
}

#show-cards {
  padding: 5px;
  width: 150px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}