$formWidth: 300px;
$fieldWidth: 200px;

form {
  width: $formWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

form>div {
  position: relative;
}

label {
  position: absolute;
  left: 17px;
  top: 0px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
}

input {
  display: block;
  width: $fieldWidth;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px;
}

form button {
  display: block;
  width: $fieldWidth;
  margin-top: 10px;
}