.lobby-container {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.lobby-container header {
  text-align: center;
  margin-bottom: 20px;
}

.lobby-container h1 {
  margin-bottom: 10px;
}

.lobby-container h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.lobby-container header p {
  background-color: rgb(46, 46, 46);
  margin: 0 auto;
  font-size: 30px;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
}

.start-game {
  margin: 0 auto;
  width: 200px;
}

.player-card {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 150px;
}

.player-card img {
  width: 150px;
  height: 75px;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  top: 0
}

.player-card p {
  position: absolute;
  top: 0;
  margin-top: 20px;
  z-index: 2;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}

#shade {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 75px;
  position: absolute;
  top: 0
}

.start-game {
  margin: 0 auto;
  width: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.start-game button {
  width: 175px;
}

// .lobby-container button {
//   margin: 0 auto;
// }