@import 'color_palette.scss';

.container {
  position: absolute;
  top: 0;
  width: 98vw;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: rgba(0, 0, 0, .4);
  // box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .4);
}

.logged-in {
  display: flex;
  flex-direction: row;
}

#display-name {
  background-color: white;
  color: black;
}

.nav button {
  margin: 20px 0px 0px 20px;
  background-color: rgba(0,0,0,0);
  color: white;
  font-size: 17px;
  // border: 1px solid white;
  padding: 5px 10px 5px 10px;
}

#left-nav{
  display: flex;
}