#profile-module {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-module h1 {
  margin-bottom: 20px;
}

#profile-module h2 {
  text-align: center;
  margin-bottom: 20px;
}

#p-info {
  width: 300px;
  justify-content: left;
}

#p-info h2 {
  font-weight: 800;
  margin-right: 10px;
}

#profile-module td {
  padding: 5px;
}